[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "2.7"

[packages]
gunicorn = "*"
decorator = "*"
brotlipy = "*"
gevent = "*"
Flask = "*"
Flask-Common = "*"
meinheld = "*"

[packages.raven]
extras = [ "flask",]
